==
<?php
use Andresalice\Sierra\Models\Contact;

function onContactForm()
{
    $contact = new Contact;
    $contact->name = Input::get('name');
    $contact->email = Input::get('email');
    $contact->phone = Input::get('phone');
    $contact->message = Input::get('message');
    $contact->status = "Sin Revisar";
    $contact->save();
}
?>
==
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Sierra Motors</title>

		<link rel="shortcut icon" type="image/x-icon" href="{{"assets/images/favicon.png"|theme}}" />
        <link href="{{['assets/css/master.css']|theme }}" rel="stylesheet">

		<!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body class="m-index" data-scrolling-animations="true" data-equal-height=".b-auto__main-item">

		<!-- Loader -->
		<div id="page-preloader"><span class="spinner"></span></div>
		<!-- Loader end -->
		<header class="b-topBar">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="b-topBar__addr">
							<span class="fa fa-map-marker"></span>
							Sierra Motors, Carr. Sanchez, 91000
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="b-topBar__tel">
							<span class="fa fa-phone"></span>
							809-528-5305 / 809-912-1212
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="b-topBar__tel">
							<span class="fa fa-envelope"></span>
							sierramotors.sc@gmail.com
						</div>
					</div>
					<div class="col-md-2 col-xs-6">
						<div class="b-topBar__tel">
							<span style="margin-right: 2px"><strong>¡Síguenos! </strong></span>
							<a href="#"><img style="width: 20px" src="{{"assets/images/facebook.png"|theme}}"></a>
							<a href="#"><img style="width: 20px" src="{{"assets/images/instagram.png"|theme}}"></a>
						</div>
					</div>
				</div>
			</div>
		</header><!--b-topBar-->

		<nav class="">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-xs-12">
						<div class="b-nav_logo">
							<a href="{{"inicio"|page}}"><img style="width: 100px" src="{{"assets/images/logo/logo.png"|theme}}"></a>
						</div>
					</div>
					<div class="col-sm-9 col-xs-12">
						<div class="b-nav__list" >
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div style="padding-top: 20px" class="collapse navbar-collapse navbar-main-slide" id="nav">
								<ul class="navbar-nav-menu">
								    <li><a href="{{"about"|page}}">Sobre nosotros</a></li>
									<li><a href="{{"compare"|page}}">Comparar vehículos</a></li>
									<li><a href="{{"contacts"|page}}">Contacto</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav><!--b-nav-->
        
        {% page %}

		<div class="b-features">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-md-offset-3 col-xs-6 col-xs-offset-6">
						<ul class="b-features__items">
							<li><a href="{{"calculator"|page}}"> Calculadora de prestamos</a></li>
							<li><a href="{{"compare"|page}}">Comparar vehiculos</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!--b-features-->

		<div class="b-info">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<aside class="b-info__aside">
							<article class="b-info__aside-article">
								<h3>HORARIOS</h3>
								<div class="b-info__aside-article-item">
									<h6>Servicio al cliente</h6>
									<p>Lunes: 8:00 am - 6:00 pm<br /></p>
									<p>Martes: 8:00 am - 6:00 pm<br /></p>
									<p>Miércoles: 8:00 am - 6:00 pm<br /></p>
									<p>Jueves: 8:00 am - 6:00 pm<br /></p>
									<p>Viernes: 8:00 am - 6:00 pm<br /></p>
									<p>Sábado: 8:00 am - 5:00 pm<br /></p>
									<p>Domingo: Cerrado.<br /></p>
								</div>
							</article>
							<article class="b-info__aside-article">
								<h3>Sobre nosotros</h3>
								<p>Líder en la comercialización de vehículos de motor nuevos y usados en todas las marcas y
                                    modelos en la provincia de San Cristóbal.</p>
							</article>
							<a href="{{"about"|page}}" class="btn m-btn">Ver mas<span class="fa fa-angle-right"></span></a>
						</aside>
					</div>
					<div class="col-md-9 col-xs-6">
						<address class="b-info__contacts">
							<p>contactanos</p>
							<div class="b-info__contacts-item">
								<span class="fa fa-map-marker"></span>
								<em>Sierra Motors, Carr. Sanchez, 91000, Republica Dominicana</em>
							</div>
							<div class="b-info__contacts-item">
								<span class="fa fa-phone"></span>
								<em>809-528-5305 / 809-912-1212</em>
							</div>
							<div class="b-info__contacts-item">
								<span class="fa fa-envelope"></span>
								<em>sierramotors.sc@gmail.com</em>
							</div>
						</address>
					</div>
				</div>
			</div>
		</div><!--b-info-->

		<footer class="b-footer">
			<a id="to-top" href="#this-is-top"><i class="fa fa-chevron-up"></i></a>
			<div class="container">
				<div class="row">
					<div class="col-xs-6">
						<div class="b-footer__company">
							<div class="b-nav__logo">
								<a href="index.html"><img style="width: 100px" src="{{"assets/images/logo/logo.png"|theme}}"></a>
							</div>
							<p>&copy; {{date|date("Y")}} Designed and developed by <a href="http://freelanceraa.com/">Freelanceraa</a>  &amp; Powered by Sierra Motors.</p>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="b-footer__content">
							<div class="b-footer__content-social">
								<a href="#"><span class="fa fa-facebook-square"></span></a>
								<a href="#"><span class="fa fa-instagram"></span></a>
							</div>
							<nav class="b-footer__content-nav">
								<ul>
									<li><a href="{{"inicio"|page}}">Inicio</a></li>
									<li><a href="{{"about"|page}}">Sobre nosotros</a></li>
									<li><a href="{{"contacts"|page}}">Contacto</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer><!--b-footer-->
		<script src="{{ ['@jquery','@framework','@framework.extras']|theme }}"></script>
		{% scripts %}
		<!--Main-->
		<script src="{{"assets/js/jquery.mask.js"|theme}}"></script>
		<script src="{{"assets/js/jquery-ui.min.js"|theme}}"></script>
		<script src="{{"assets/js/bootstrap.min.js"|theme}}"></script>
		<script src="{{"assets/js/modernizr.custom.js"|theme}}"></script>
		<script src="{{"assets/assets/rendro-easy-pie-chart/dist/jquery.easypiechart.min.js"|theme}}"></script>
		<script src="{{"assets/js/waypoints.min.js"|theme}}"></script>
		<script src="{{"assets/js/jquery.easypiechart.min.js"|theme}}"></script>
		<script src="{{"assets/js/classie.js"|theme}}"></script>
		<!--Switcher-->
		<script src="{{"assets/assets/switcher/js/switcher.js"|theme}}"></script>
		<!--Owl Carousel-->
		<script src="{{"assets/assets/owl-carousel/owl.carousel.min.js"|theme}}"></script>
		<!--bxSlider-->
		<script src="{{"assets/assets/bxslider/jquery.bxslider.js"|theme}}"></script>
		<!-- jQuery UI Slider -->
		<script src="{{"assets/assets/slider/jquery.ui-slider.js"|theme}}"></script>
		<!--Theme-->
		<script src="{{"assets/js/jquery.smooth-scroll.js"|theme}}"></script>
		<script src="{{"assets/js/wow.min.js"|theme}}"></script>
		<script src="{{"assets/js/jquery.placeholder.min.js"|theme}}"></script>
		<script src="{{"assets/js/theme.js"|theme}}"></script>
        <script>
            $(document).ready(function(){
               $('.phone').mask('000-000-0000'); 
            });
            function contactForm()
            {
            	var error = true; var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            	if($('input[name=name]').val() === ''){$('input[name=name]').css('border', '1px solid red');error = false;} 
            	else{$('input[name=name]').css('border', '');}
            	
            	if(!regex.test($('input[name=email]').val())){$('input[name=email]').css('border', '1px solid red');error = false;} 
            	else {$('input[name=email]').css('border', '');}
            	
            	if($('input[name=phone]').val() === ''){$('input[name=phone]').css('border', '1px solid red');error = false;} 
            	else {$('input[name=phone]').css('border', '');}
            	
            	if($('textarea[name=message]').val() === ''){$('textarea[name=message]').css('border', '1px solid red');error = false;} 
            	else {$('textarea[name=message]').css('border', '');}
            	
            	if(error)
            	{
            		$('#contactForm').request('onContactForm', {data: $('#contactForm').serialize()});
            		$('#contactFormMessage').fadeIn();
            		$('#contactForm').trigger("reset");
            	} 
            	else { return false; }
            }   
        </script>
	</body>
</html>