title = "Compare"
url = "/comparar/:id?"
layout = "Layout"
is_hidden = 0
==
<?php
use Andresalice\Sierra\Models\Car;
use Andresalice\Sierra\Models\Compare;

function onStart()
{
    $car_id = $this->param("id");
    if(Session::has('ip')){$ip = Session::get('ip');}
    else{$ip = rand(111111111111111,999999999999999); Session::put('ip', $ip);}
    if($car_id)
    {
        if(!Compare::where("ip",$ip)->where("car_id",$car_id)->exists() && Compare::where("ip",$ip)->where("car_id",$car_id)->count() < 3)
        {
            $compare = new Compare;
            $compare->car_id = $car_id;
            $compare->ip = $ip;
            $compare->save();
        }
    }
    $compares = Compare::where("ip",$ip)->get();
    $cars = array();
    $counter = 0;
    foreach($compares as $c)
    {
        if($counter <= 2)
        {
            $cars[] = Car::where("id",$c->car_id)->get();
        }
        $counter = $counter + 1;
    }
    $this['cars'] = $cars;
}

function onDeleteCar()
{
    $ip = Session::get('ip');
    $car_id = post("car_id");
    Compare::where("ip",$ip)->where("car_id",$car_id)->delete();
}
?>
==
<div class="b-infoBar">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 col-xs-12">
				<h5 style="color: white">¿Alguna pregunta? Contáctanos  :  <span> (809) 528-5305 / (809)-912-1212</span></h5>
			</div>
			<div class="col-sm-7 col-xs-12">
				<div class="b-infoBar__btns">
					<a href="{{"listings"|page({id:null})}}" class="btn m-btn m-infoBtn">AGREGAR VEHÍCULOS<span class="fa fa-angle-right"></span></a>
				</div>
			</div>
		</div>
	</div>
</div><!--b-infoBar-->

<section class="b-compare s-shadow">
	<div class="container">
		<div class="b-compare__images">
			<div class="row">
			    {% for car in cars %}
    			    {% for c in car %}
        				<div class="col-md-3 col-sm-4 col-xs-12 {% if loop.parent.loop.index == 1 %}col-md-offset-3{% endif %}">
        					<div class="b-compare__images-item s-lineDownCenter">
        						<h3>{{c.model.maker.name}} {{c.model.name}} {{c.submodel}} {{c.year}} <a href="javascript:;" onClick="onDeleteCar({{c.id}});" style="color:#21254f"><i class="fa fa-times-circle" aria-hidden="true"></i></a></h3>	
        						<a href="{{"detail"|page({id:c.id})}}">
        						    <img class="img-responsive center-block"  src="{{c.featured_image.thumb(300,300)}}" alt="jaguar" />
        						</a>
        						<div class="b-compare__images-item-price m-right">{% if c.currency == 0 %}RD${% else %}US${% endif %}{{ c.price|number_format() }}</div>
        					</div>
        				</div>
    				{% endfor %}
				{% endfor %}
				{% if cars|length < 1 %}
                <img class="img-responsive center-block" src="{{"assets/images/no-comparador.png"|theme}}"/>
                {% endif %}
			</div>
		</div>
		<div class="b-compare__block">
			<div class="b-compare__block-title s-whiteShadow">
				<h3 class="s-titleDet">INFORMACIÓN BÁSICA</h3>
				<a class="j-more" href="#"><span class="fa fa-angle-left"></span></a>
			</div>
			<div class="b-compare__block-inside j-inside">
				<div class="row">
					<div class="col-xs-3">
						<div class="b-compare__block-inside-title">
							Marca / año
						</div>
					</div>
					{% for car in cars %}
        			    {% for c in car %}
        					<div class="col-xs-3">
        						<div class="b-compare__block-inside-value">
        							{{c.model.maker.name}} {{c.model.name}} {{c.year}}
        						</div>
        					</div>
        				{% endfor %}
    				{% endfor %}
				</div>
			</div>
			<div class="b-compare__block-inside j-inside">
				<div class="row">
					<div class="col-xs-3">
						<div class="b-compare__block-inside-title">
							Combustible
						</div>
					</div>
					{% for car in cars %}
        			    {% for c in car %}
        					<div class="col-xs-3">
        						<div class="b-compare__block-inside-value">
        							{{c.gas}}
        						</div>
        					</div>
        				{% endfor %}
    				{% endfor %}
				</div>
			</div>
			<div class="b-compare__block-inside j-inside">
				<div class="row">
					<div class="col-xs-3">
						<div class="b-compare__block-inside-title">
							Estado
						</div>
					</div>
    				{% for car in cars %}
        			    {% for c in car %}
        					<div class="col-xs-3">
        						<div class="b-compare__block-inside-value">
        							{{c.status}}
        						</div>
        					</div>
        				{% endfor %}
    				{% endfor %}
				</div>
			</div>
			<div class="b-compare__block-inside j-inside">
				<div class="row">
					<div class="col-xs-3">
						<div class="b-compare__block-inside-title">
							Tipo
						</div>
					</div>
					{% for car in cars %}
        			    {% for c in car %}
        					<div class="col-xs-3">
        						<div class="b-compare__block-inside-value">
        							{{c.type}}
        						</div>
        					</div>
        				{% endfor %}
    				{% endfor %}
				</div>
			</div>
		</div>
		<div class="b-compare__block">
			<div class="b-compare__block-title s-whiteShadow">
				<h3 class="s-titleDet">ESPECIFICACIONES</h3>
				<a class="j-more" href="#"><span class="fa fa-angle-left"></span></a>
			</div>
			<div class="b-compare__block-inside j-inside">
				<div class="row">
				    <div class="col-xs-3">
						<div class="b-compare__block-inside-title">
							Motor:
						</div>
					</div>
					{% for car in cars %}
        			    {% for c in car %}
        					<div class="col-xs-3">
        						<div class="b-compare__block-inside-value">
        							{{c.motor}}
        						</div>
        					</div>
        				{% endfor %}
    				{% endfor %}
				</div>
				<div class="row">
					<div class="col-xs-3">
						<div class="b-compare__block-inside-title">
							Transmisión:
						</div>
					</div>
					{% for car in cars %}
        			    {% for c in car %}
        					<div class="col-xs-3">
        						<div class="b-compare__block-inside-value">
        							{{c.transmision}}
        						</div>
        					</div>
        				{% endfor %}
    				{% endfor %}
				</div>
				<div class="row">
					<div class="col-xs-3">
						<div class="b-compare__block-inside-title">
							Tracción:
						</div>
					</div>
					{% for car in cars %}
        			    {% for c in car %}
        					<div class="col-xs-3">
        						<div class="b-compare__block-inside-value">
        							{{c.traction}}
        						</div>
        					</div>
        				{% endfor %}
    				{% endfor %}
				</div>
				<div  class="row">
					<div class="col-xs-3">
						<div class="b-compare__block-inside-title">
							Puertas:
						</div>
					</div>
					{% for car in cars %}
        			    {% for c in car %}
        					<div class="col-xs-3">
        						<div class="b-compare__block-inside-value">
        							{{c.doors}}
        						</div>
        					</div>
        				{% endfor %}
    				{% endfor %}
				</div>
				<div class="row">
					<div class="col-xs-3">
						<div class="b-compare__block-inside-title">
							Pasajeros:
						</div>
					</div>
					{% for car in cars %}
        			    {% for c in car %}
        					<div class="col-xs-3">
        						<div class="b-compare__block-inside-value">
        							{{c.passengers}}
        						</div>
        					</div>
        				{% endfor %}
    				{% endfor %}
				</div>
			</div>
		</div>
		</div>
		<div class="b-compare__links hidden">
			<div class="row">
			    {% for car in cars %}
    			    {% for c in car %}
    					<div class="col-sm-3 col-xs-12 {% if loop.parent.loop.index == 1 %}col-md-offset-3{% endif %}">
        					<a href="{{"detail"|page({id:c.id})}}" class="btn m-btn">VER DETALLES<span class="fa fa-angle-right"></span></a>
        				</div>
    				{% endfor %}
				{% endfor %}
			</div>
		</div>
</section><!--b-compare-->
{% put scripts %}
<script>
function onDeleteCar(car_id)
{
    $.request('onDeleteCar',{
          data: {car_id: car_id},
          success: function() {window.location = "{{"compare"|page({id:null})}}";}
     })
 
}
	
</script>
{% endput %}