title = "Listings"
url = "/listado"
layout = "Layout"
is_hidden = 0
==
<?php
use Andresalice\Sierra\Models\Car;
use Andresalice\Sierra\Models\Make;
use Andresalice\Sierra\Models\Modelc;

function onStart()
{
    $this['params'] = get();
    if($this['params'])
    {
        $this['cars'] = Car::paginate(12);
        $this['makes'] = Make::get();
        if(!empty($this['params']['make']))
        {
            $this['models'] = Modelc::where("make_id",$this['params']['make'])->get();
        }
        //*****************************************************************SEARCH*****************************************************************
        if(Input::has("search"))
        {
            $search = get("search");
            $search = explode(" ", $search);
            $this['cars'] = Car::where(function($query) use ($search){
                foreach($search as $s){if($s){$query->orWhere("title", "LIKE", "%" . $s . "%");}}  
            })->get();
        }
        //************************************************************SEARCH ADVANCED*************************************************************
        if(Input::has("search_advanced"))
        {
            $type = get("type");
            $make = get("make");
            $model = get("model");
            $status = get("status");
            $desde = get("desde");
            $hasta = get("hasta");
            $moneda = get("moneda");
            $desde_ano = get("desde_ano");
            $hasta_ano = get("hasta_ano");
            $gas = get("gas");
            $ordenar = get("orderBy");
            if($ordenar == "CREATED_AT"){$field = "created_at";}else{$field = "price";}
            if($moneda == 2)
            {
                $desde = floor(Currency::format(get("desde"), ['from' => 'USD', 'to' => 'DOP']));
                $hasta = floor(Currency::format(get("hasta"), ['from' => 'USD', 'to' => 'DOP']));
            }
            else
            {
                $desde = get("desde");
                $hasta = get("hasta");
            }
        	$query = 
        	
        	Car::where(function($query) use ($type, $make, $model, $status, $desde, $hasta, $moneda, $gas, $desde_ano, $hasta_ano)
        	{
        	    if($model){$query->orWhere("model_id","LIKE", "%" . $model . "%");}
        		if($type){$query->orWhere("type","=",$type);}
        		if($status){$query->orWhere("status","=",$status);}
        		if($gas){$query->orWhere("gas","=",$gas);}
        		if($desde_ano){$query->where("year",">=",$desde_ano);}
    			if($hasta_ano){$query->where("year","<=",$hasta_ano);}
    			if($desde){$query->where("price",">=",$desde);}
    			if($hasta){$query->where("price","<=",$hasta);}
        	})->orderBy($field, $ordenar)->paginate(12);
        	$this['cars'] = $query;
        }
    }
    else
    {
        $this['cars'] = Car::paginate(12);
        $this['makes'] = Make::get();
    }
}

function onGetModels()
{
    $this['models'] = Modelc::where("make_id",post("make_id"))->get();
    return ['#modelsPartial' => $this->renderPartial('models2', ['models' => $this['models']])];
}
?>
==
<div class="b-infoBar" style="background: #ddd">
	<div class="container">
		<div class="row">
            <div class="col-lg-3 col-xs-12">
                <div class="b-infoBar__compare">
                    <a href="{{"compare"|page}}" class="b-infoBar__compare-item"><span class="fa fa-search"></span>VEHÍCULOS ENCONTRADOS: {{cars.count()}}</a>
                </div>
            </div>
			<div class="col-lg-9 col-xs-12">
				<div class="b-infoBar__select">
					<form method="post" action="/">
						<!-- <div class="b-infoBar__select-one">
						    <span class="b-infoBar__select-one-title">VISTA</span>
						    <a id="VistaLista" href="#" class="m-list"><span class="fa fa-list"></span></a>
						    <a id="vistaTabla" href="#" class="m-table m-active"><span class="fa fa-table"></span></a>
						</div> -->
						<!-- <div class="b-infoBar__select-one">
						    <span class="b-infoBar__select-one-title">MOSTRAR EN UNA PAGINA</span>
						    <select name="select1" class="m-select">
						        <option value="12">12 VEHÍCULOS</option>
						        <option value="24">24 VEHÍCULOS</option>
						        <option value="36">36 VEHÍCULOS</option>
						    </select>
						    <span class="fa fa-caret-down"></span>
						</div> -->
						<div class="b-infoBar__select-one" >
							<span class="b-infoBar__select-one-title">ORDENAR POR</span>
							<select name="ordenar" id="orderBy" class="m-select" style="width: 200px;">
                                <option {% if params.orderBy == 'CREATED_AT' %}selected{% endif%} value="CREATED_AT">Más recientes</option>
                                <option {% if params.orderBy == 'DESC' %}selected{% endif%} value="DESC">Precio de mayor a menor</option>
                                <option {% if params.orderBy == 'ASC' %}selected{% endif%} value="ASC">Precio de menor a mayor</option>
							</select>
							<span class="fa fa-caret-down"></span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div><!--b-infoBar-->

<div class="b-items">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-4 col-xs-12">
				<aside class="b-items__aside">
					<h2 class="s-title">FILTRA TU BUSQUEDA</h2>
					<div class="b-items__aside-main">
						{{ form_open({ url:'listado', request: 'onSearchAdvanced', id: 'listForm', method: 'GET' }) }}
						<input type="hidden" name="search_advanced" value="1">
						<input type="hidden" name="orderBy">
							<div class="b-items__aside-main-body">
								<div class="b-items__aside-main-body-item">
									<label>MARCA</label>
									<div>
										<select id="makec" name="make" class="m-select">
											<option value="" selected="">Todas las marcas</option>
											{% for make in makes %}
        									    <option {% if params.make == make.id %}selected{% endif%} value="{{make.id}}">{{make.name}}</option>
        									{% endfor %}
										</select>
										<span class="fa fa-caret-down"></span>
									</div>
								</div>
								<div class="b-items__aside-main-body-item">
									<label>MODELO</label>
									<div id="modelsPartial">
										{% partial "models2" models = models %}
										<span class="fa fa-caret-down"></span>
									</div>
								</div>
                                <div class="b-items__aside-main-body-item">
                                    <label>MONEDA</label>
                                    <div>
                                        <select id="moneda" name="moneda" class="m-select">
                                            <option {% if params.moneda == 1 %}selected{% endif%} value="1" >Pesos</option>
								            <option {% if params.moneda == 2 %}selected{% endif%} value="2" >Dolares</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
								<div class="b-items__aside-main-body-item">
									<label>PRECIO</label>
									<div style="margin-bottom:4px">
            							<select id="desde" name="desde"  class="m-select">
            								<option value="0" >Desde</option>
            							</select>
            							<span class="fa fa-caret-down"></span>
            						</div>
                                    <div>
                                        <select id="hasta" name="hasta"  class="m-select">
                                            <option value="0" >Hasta</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
								</div>
								
								<div class="b-items__aside-main-body-item">
									<label>AÑO</label>
									<div style="margin-bottom:4px">
            							<select id="desde" name="desde_ano"  class="m-select">
            								<option value="0" >Desde</option>
            								{% for i in 2018..1975 %}
                                                <option value="{{i}}" >{{i}}</option>
                                            {% endfor %}
            							</select>
            							<span class="fa fa-caret-down"></span>
            						</div>
                                    <div>
                                        <select id="hasta" name="hasta_ano"  class="m-select">
                                            <option value="0" >Hasta</option>
                                            {% for i in 2018..1975 %}
                                                <option value="{{i}}" >{{i}}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
								</div>
								<div class="b-items__aside-main-body-item">
									<label>TIPO</label>
									<div>
										<select name="type" class="m-select">
											<option value="" selected="">Todos los tipos</option>
											<option {% if params.type == 'Camioneta' %}selected{% endif%} value="Camioneta" >Camioneta</option>
											<option {% if params.type == 'Jeepeta' %}selected{% endif%} value="Jeepeta" >Jeepeta</option>
											<option {% if params.type == 'Coupé/Sport' %}selected{% endif%} value="Coupé/Sport" >Coupé/Sport</option>
											<option {% if params.type == 'Sedán' %}selected{% endif%} value="Sedán" >Sedán</option>
											<option {% if params.type == 'Compacto' %}selected{% endif%} value="Compacto" >Compacto</option>
										</select>
										<span class="fa fa-caret-down"></span>
									</div>
								</div>
								<div class="b-items__aside-main-body-item">
									<label>ESTADO</label>
									<div>
										<select name="status" class="m-select">
											<option value="" >Estado del vehículo</option>
        									<option {% if params.status == 'Usado' %}selected{% endif%} value="Usado" >Usado</option>
        									<option {% if params.status == 'Nuevo' %}selected{% endif%} value="Nuevo" >Nuevo</option>
										</select>
										<span class="fa fa-caret-down"></span>
									</div>
								</div>
								<div class="b-items__aside-main-body-item">
									<label>COMBUSTIBLE</label>
									<div>
										<select name="gas" class="m-select">
											<option value="" selected="">Todos los combustibles</option>
											<option {% if params.gas == 'Gasolina' %}selected{% endif%} value="Gasolina" >Gasolina</option>
        									<option {% if params.gas == 'Gas' %}selected{% endif%} value="Gas" >Gas</option>
        									<option {% if params.gas == 'Gasoil' %}selected{% endif%} value="Gasoil" >Gasoil</option>
										</select>
										<span class="fa fa-caret-down"></span>
									</div>
								</div>
							</div>
							<footer class="b-items__aside-main-footer">
								<button type="submit" class="btn m-btn">BUSCAR VEHICULO<span class="fa fa-angle-right"></span></button><br />
								<!-- <a href="">RESETEAR LOS FILTROS</a> -->
							</footer>
						{{ form_close() }}
					</div>
				</aside>
			</div>
			<div id="tabla" class="col-lg-9 col-sm-8 col-xs-12">
                 <div class="row">
                     {% for car in cars %}
                        <div class="col-xs-12 col-md-3">
                            <div class="b-featured__item ">
            					<a href="{{"detail"|page({id: car.id})}}">
            						<img  class="miniatura" src="{{car.featured_image.getPath}}" alt="{{car.model.name}}" />
            					</a>
            					<div class="b-featured__item-price">
            						{% if car.currency == 0 %}RD${% else %}US${% endif %}{{ car.price|number_format() }}
            					</div>
            					<div class="clearfix"></div>
            					<h5><a href="{{"detail"|page}}">{{car.model.maker.name}} {{car.model.name}} {{car.submodel}} {{car.year}}</a></h5>
            					<div class="b-featured__item-count"><span class="fa fa-tachometer"></span>{{ car.kilometers|number_format() }} {% if car.odometro == 0 %}KM{% else %}MI{% endif %}</div>
            					<div class="b-featured__item-links">
            						<a href="javascript:;">{{car.status}}</a>
            						<a href="javascript:;">{{car.year}}</a>
            						<a href="javascript:;">{{car.transmision}}</a>
            						<a href="javascript:;">{{car.exterior}}</a>
            						<a href="javascript:;">{{car.gas}}</a>
            					</div>
            				</div>
                        </div>
                    {% endfor %}
                    {% if cars|length < 1 %}
                        <img class="img-responsive center-block" src="{{"assets/images/no-busqueda.png"|theme}}"/>
                    {% endif %}
                </div>
		    </div>

			<div class="b-items__pagination">
			    <div class="b-items__pagination-main">
<!-- <a data-toggle="modal" data-target="#myModal" href="#" class="m-left"><span class="fa fa-angle-left"></span></a>
<span class="m-active"><a href="#">1</a></span>
<span><a href="#">2</a></span>
<span><a href="#">3</a></span>
<span><a href="#">4</a></span>
<a href="#" class="m-right"><span class="fa fa-angle-right"></span></a> -->
			        {{ cars.render|raw }}
			    </div>
			</div>
		</div>
		</div>
	</div>
</div><!--b-items-->
<div id="lista" class="col-lg-9 col-sm-8 col-xs-12">
</div>
{% put scripts %}
<script>
    $(document).ready(function(){
        setTimeout(function(){
            $("#desde").val("{{params.desde}}");
            $("#hasta").val("{{params.hasta}}");
            $("#modelc").val("{{params.model}}"); 
        }, 1000);  
        
        $('#orderBy').on('change', function() {
              $("input[name=orderBy]").val(this.value);
              $("#listForm").submit();
        })
    });
    
    
</script>
{% endput %}